.main-collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 1%;
}

.collapse-title-container {
  margin-bottom: 3%;
  border-radius: 5px;
  background-color: rgba(255, 96, 96, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 1%;
  z-index: 2;
}

.collapse-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}

.collapse-content-show {
  background-color: rgba(246, 246, 246, 0.45);
  border-radius: 0px 0px 5px 5px;
  height: auto;
  width: 100%;
  position: relative;
  top: -55px;
  z-index: -1;
}

.collapse-content {
  display: none;
  height: auto;
  background-color: rgba(246, 246, 246, 1);
}

.collapse-list,
.collapse-text {
  list-style: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: black;
  height: 100%;
  padding: 25px 25px 2px 20px;
  text-wrap: wrap;
}

.collapse-content-show {
  height: auto;
  display: block;
  transform: translateY(0);
}

.collapse-container {
  width: 85%;
}

