.housing-title {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    color: rgba(255, 96, 96, 1);
}

.housing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.housing-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 7%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.housing-location {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    margin-top: -1%;
    margin-bottom: 0;
}

.housing-cover {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.host-container {
    display: flex;
    flex-direction: row;
}

.host-container p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 96, 96, 1);
    margin-right: 10px;
}

.host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.main-housing-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.housing-tags {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 2%;
}

.housing-tags li {
    list-style: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 96, 96, 1);
    border-radius: 10px;
    padding: 3px 40px;
    margin-right: 10px;
    /*margin-top: 5px;*/
}

.collapse-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.collapse-content-show {
    max-height: 1000px;
    opacity: 1;
}

.stars-container {
    display: flex;
    flex-direction: row;
}

.star-inactive {
    background-image: url('../../assets/images/star-inactive.svg');
    height: 30px;
    width: 30px;
}

.star-active {
    background-image: url('../../assets/images/star-active.svg');
    height: 30px;
    width: 30px;
}

.housing-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


