.main-collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 1%;
  gap: 30px;
}

.collapse-title-container {
  border-radius: 5px;
  background-color: rgba(255, 96, 96, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 1%;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 375px) {
  .collapse-title-container {
    padding: 2%;
  }
}

.collapse-title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
}

.collapse-content {
  background-color: rgba(246, 246, 246, 1);
  border-radius: 0 0 5px 5px;
  max-height: 0;
  /*voir si ca bloque pas l'animation*/
  overflow: hidden;
  transition: max-height 0.5s;
}

.collapse-content-show {
  max-height: 500px;
}

.collapse-list,
.collapse-text {
  list-style: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: black;
  height: 100%;
  padding: 0px 25px 2px 20px;
  text-wrap: wrap;
}

.collapse-content-show .collapse-list,
.collapse-content-show .collapse-text {
  transform: translateY(0);
  transition: transform 0.4s ease 0.2s;
}

.arrow-container {
  transition: transform 0.3s ease;
}

.arrow-container-rotate {
  transform: rotate(180deg);
}

.collapse-container {
  width: 85%;
}

@media (max-width: 375px) {
  .main-collapse-container {
    width: 100%;
    gap: 20px;
    margin-bottom: 6%;
  }
  .collapse-container {
    width: 100%;
  }
  .collapse-title {
    font-size: 13px;
  }

  .collapse-text, .collapse-list {
    font-size: 12px;
  }
}