.housing-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  color: rgba(255, 96, 96, 1);
}

.housing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

.housing-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 7%;
  margin-top: 1%;
  margin-bottom: 7%;
}

.housing-location {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 0;
  margin-top: 0;
}

.housing-cover {
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.picture-pagination {
  font-weight: 500;
  font-size: 18px;
  top: 94%;
  position: absolute;
}

.arrow-back,
.arrow-next {
  background-repeat: no-repeat;
  height: 21%;
  width: 100px;
}

.arrow-back {
  background-image: url("../../images/arrow_back_ios-24px 1.svg");
  background-position: left;
}

.arrow-next {
  background-image: url("../../images/arrow_forward_ios-24px 1.svg");
  background-position: right;
}

.host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.host-infos {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  gap: 26px;
}

.host-container p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 96, 96, 1);
  margin-right: 10px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.main-housing-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

.housing-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  height: 2%;
  margin-top: 3%;
}

.housing-tags li {
  list-style: none;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  padding: 3px 40px;
  margin-right: 10px;
}

.collapse-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}

.collapse-content-show {
  max-height: 1000px;
  opacity: 1;
}

.stars-container {
  display: flex;
  flex-direction: row;
}

.star-inactive {
  background-image: url("../../images/star-inactive.svg");
}

.star-active {
  background-image: url("../../images/star-active.svg");
}

.star-active,
.star-inactive {
  height: 36px;
  width: 36px;
}

.housing-infos {
  display: flex;
  flex-direction: column;
}

.infos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 375px) {
  .infos-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-housing-container {
    margin-top: 7%;
  }

  .housing-cover {
    height: 30vh;
  }

  .host-infos {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1%;
    align-items: center;
  }

  .picture-pagination {
    display: none;
  }

  .arrow-back,
  .arrow-next {
    height: 10%;
    width: 50px;
    background-size: contain;
  }

  .housing-details {
    flex-direction: column;
    gap: 20px;
  }

  .star-active,
  .star-inactive {
    height: 18px;
    width: 18px;
    background-size: contain;
  }

  .housing-infos {
    flex-direction: column;
    align-items: flex-start;
  }

  .housing-title {
    font-size: 18px;
  }

  .housing-location {
    font-size: 14px;
  }

  .host-container p {
    font-size: 12px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
  }

  .housing-tags {
    height: 1%;
    row-gap: 10px;
  }

  .housing-tags li {
    font-size: 10px;
    padding: 2px 30px;
  }
}
